<a href="https://colab.research.google.com/github/RidhoAmami/lab01/blob/main/Muh_Ridho_Enkapsulasi1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Karyawan:
  def __init__(self, nama, gaji):
    #Deklarasi dan inisialisai variabel privat untuk nama
    self.__nama = nama
    #Deklarasi dan inisialisai variabel privat untuk gaji
    self.__gaji = gaji

  # Fungsi untuk mengakses nama
  def get_nama(self):
    return self.__nama

  # Fungsi untuk mengubah nama
  def set_nama(self, nama):
    self.__nama = nama

  # Fungsi untuk mengakses gaji
  def get_gaji(self):
    #lengkapi
    return self.__gaji

  # Fungsi untuk mengubah gaji
  def set_gaji(self, gaji):
    #lengkapi
    if gaji < 2040244:
      self.__gaji = "Dibawah UMK jatim"
    elif gaji > 10000000:
      self.__gaji = "Diatas 10 juta"
    else:
      self.__gaji = gaji

In [10]:
# Membuat objek Karyawan dengan nama Ahmad dengan gaji 4000000
karyawan1 = Karyawan('Ahmad', 4000000)

# Mengakses/menampilkan nama dan gaji menggunakan fungsi
print(karyawan1.get_nama())
print(karyawan1.get_gaji())

# Mengubah nama menjadi nama anda masing-masing dan gaji bebas menggunakan fungsi
karyawan1.set_nama('Ridho')
karyawan1.set_gaji(1500000)


# Mengakses/menampilkan nama dan gaji setelah diubah
print('Nama: ', karyawan1.get_nama(), 'Dan gajinya: ', karyawan1.get_gaji())

Ahmad
4000000
Nama:  Ridho Dan gajinya:  Dibawah UMK jatim